<% provide(:title, "Stocks") %>
<div >
	<div  align="center" class="pull-left vertical" style="width:500px; margin:20px 50px 20px 20px; border-right: 2px solid grey; padding-right:50px;">
	<table class = "table table-striped table-bordered table-condensed table-hover">
	<%= render 'layouts/cash' %>
      <h3>Stocks at a glance</h3>
      <th>
		  <td> last trade price </td>
		  <td> last trade date </td>
		  <td> change </td>
		  <td> previous close </td>
		  <td> low 52 weeks </td>
		  <td> high 52 weeks </td>
		  <td> current price </td>
      </th>
        <%= render partial: "stocks/stock", collection: @stocks %>
      </table>
  	</div>
  	<div id = "transnew" align="center" class = "pull-right" style="width:300px;float:left;margin-left:10px;">
  </div>
  </div>
